<!DOCTYPE HTML>

<html>

<head>
	<title>Our Vision</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="staic/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<body class="is-preload landing">
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="static/images/logo-white.jpg">Generous Givers</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="templates/index.html">Home</a></li>
							<li>
								<a href="#">Discover</a>
								<ul>
									<li><a href="templates/left-sidebar.html">Our Vision</a></li>
									<!--<li><a href="right-sidebar.html">Achievements</a></li>-->
									<li><a href="templates/no-sidebar.html">About</a></li>
									<li>
										<!--								<a href="#">Submenu</a>
											<ul>
												<li><a href="#">Option 1</a></li>
												<li><a href="#">Option 2</a></li>
												<li><a href="#">Option 3</a></li>
												<li><a href="#">Option 4</a></li>
											</ul>-->
									</li>
								</ul>
							</li>
							<!--<li><a href="elements.html">Elements</a></li>-->
							<li><a href="#" class="button primary">Sign Up</a></li>
						</ul>
					</nav>
				</header>
				<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>VISION</h2>
							<p>Our Vision at Generous Givers: Inspiring a Culture of Giving
								<br>
								At Generous Givers, our vision is to cultivate a culture where generosity thrives. We
								envision a world where people from all walks of life come together to make a positive
								impact through acts of kindness, compassion, and giving.
							</p>
						</header>
						<div class="row gtr-150">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
								<section id="sidebar">
									<section>
										<h3>We see a future where:</h3>
										<p>Generosity is Contagious: We believe that every act of generosity, no matter
											how small, has the power to inspire others. We aim to create a ripple effect
											where generosity becomes a way of life.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Learn More</a></li>
											</ul>
										</footer>
									</section>
									<hr />
									<section>
										<a href="#" class="image fit"><img src="static/images/pic06.jpg" alt="" /></a>
										<h3>Needs are Met:</h3>
										<p> We are committed to addressing the needs of the less
											fortunate. Our platform connects those who can give with those who are in
											need, ensuring that basic necessities and support are readily available.</p>
										<footer>
											<ul class="actions">
												<li><a href="#" class="button">Learn More</a></li>
											</ul>
										</footer>
									</section>
								</section>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
								<section id="content">
									<a href="#" class="image fit"><img src="static/images/pic05.jpg" alt="" /></a>
									<h3>Communities Unite:</h3>
									<p>We foster a sense of community and belonging among our members. Through shared
										experiences, stories, and projects, we aim to strengthen the bonds that tie us
										all together.</p>
									<p>Hope is Restored: Generosity has the ability to restore hope and create positive
										change in the lives of individuals and communities. We strive to be a beacon of
										hope for those facing adversity.</p>
									<h3>Impact is Measurable:</h3>
									<p>We believe in accountability and transparency. Through our platform, we enable
										donors to see the tangible impact of their contributions, ensuring that their
										generosity is making a difference.</p>
									<p>Join us on our mission to promote generosity and make the world a better place,
										one act of kindness at a time. At Generous Givers, we celebrate the spirit of
										giving, and together, we can create a more compassionate and generous world."
									</p>
									<!--<ul>
										<li>Faucibus orci lobortis ac adipiscing integer.</li>
										<li>Col accumsan arcu mi aliquet placerat.</li>
										<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
										<li>Blandit massa non blandit tempor interdum.</li>
										<li>Lacinia mattis arcu nascetur lobortis.</li>
									</ul>-->
								</section>

							</div>
						</div>
					</div>
				</div>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Generous Givers.</li>
						<li>2023</a></li>
					</ul>
				</footer>

			</div>

			<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

		</body>

</html>