<!DOCTYPE HTML>

<html>

<head>
	<title>ABOUT</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="static/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<body class="is-preload landing">
			<div id="page-wrapper">

				<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="static/images/logo-white.jpg">Generous Givers</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="templates/index.html">Home</a></li>
							<li>
								<a href="#">Discover</a>
								<ul>
									<li><a href="templates/left-sidebar.html">Our Vision</a></li>
									<!--<li><a href="right-sidebar.html">Achievements</a></li>-->
									<li><a href="templates/no-sidebar.html">About</a></li>
									<li>
										<!--								<a href="#">Submenu</a>
											<ul>
												<li><a href="#">Option 1</a></li>
												<li><a href="#">Option 2</a></li>
												<li><a href="#">Option 3</a></li>
												<li><a href="#">Option 4</a></li>
											</ul>-->
									</li>
								</ul>
							</li>
							<!--<li><a href="elements.html">Elements</a></li>-->
							<li><a href="#" class="button primary">Sign Up</a></li>
						</ul>
					</nav>
				</header>

				<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>About Generous Givers: A Lifeline for Turkana</h2>
							<p>Welcome to Generous Givers, where compassion meets action to make a profound impact on
								the lives of those in need. Our mission is simple yet profound: to provide hope, relief,
								and support to the resilient people of Turkana, a remote and underserved region in
								Kenya.</p>
						</header>

						<!-- Content -->
						<section id="content">
							<a href="#" class="image fit"><img src="static/images/pic07.jpg" alt="" /></a>
							<h3>Why Turkana?</h3>
							<p>Turkana is a place of breathtaking landscapes and resilient communities, but it's also a
								place where challenges are a daily reality. The Turkana people face extreme poverty,
								limited access to clean water, healthcare, education, and food insecurity. It's a region
								where the simple act of survival can be a heroic feat.</p>
							<h3>Our Commitment</h3>
							<p>At Generous Givers, we are committed to making a meaningful difference in Turkana. <br>Our
								dedicated team and network of generous donors share a common goal: to bring about
								positive change in this beautiful yet underserved part of northern Kenya.</p>
							<h3>What We Do</h3>
							<p>We focus on practical, sustainable solutions that empower Turkana communities:</p>
							<ul>
								<li>We focus on practical, sustainable solutions that empower Turkana communities:</li>
								<li>Education Support: Education is a pathway to opportunity. We support schools and
									students in Turkana to ensure access to quality education.</li>
								<li>Healthcare Access: We strive to improve healthcare services, making sure the people
									of Turkana have access to essential medical care and health resources.</li>
								<li>Nutrition and Food Security: We address food insecurity through innovative projects
									aimed at improving agriculture and food production.</li>
								<li>Empowerment Programs: Our initiatives empower individuals and communities, fostering
									self-reliance and resilience.</li>

							</ul>
							<h3>Join Our Cause</h3>
							<p>Your support can be the difference between despair and hope, survival and thriving, for
								the people of Turkana. Together, we can create a brighter future for this remarkable
								community.
<br>
								Explore our website to learn more about our ongoing projects, the incredible people of
								Turkana, and how you can get involved. Every donation, no matter the size, contributes
								to positive change in Turkana. Let's make a difference, one act of generosity at a time.
<br>
								Together, we can bring hope, opportunity, and a better life to the people of Turkana.
								Join us in our journey of compassion and change.
<br>
								Thank you for being a Generous Giver.
						</p>
						</section>

					</div>
				</div>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a>
						</li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Generous Givers.</li>
						<li>2023</a></li>
					</ul>
				</footer>

			</div>

			<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

		</body>

</html>